<!DOCTYPE html>  
<html>  
<head>  
    <title>home</title>  
</head>  
<body>  
    <h2>Hi, welcome to the website</h2>  
    <a href="/add">Add Employee</a><br><br>  
    <a href ="/view">List Records</a><br><br>  
    <a href="/delete">Delete Record</a><br><br>  
    <div id="div1" style="height: 500px;position:relative;">
    <div id="div2" style="max-height:100%;overflow:auto;border:1px solid red;">
        <div id="div3" style="height:1500px;border:5px solid yellow;">hello</div>
    </div>
</div>
</body>  
</html>  